html, body
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

.lock
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("images/diagonal.png");
}

.container
{
	overflow: hidden;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
}

.container.expenses
{
	flex-direction: column;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
	display: inline-block;
	padding: 1em 2em 1em 2em;
	background: #0173B2;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
	white-space: nowrap;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

.banner-wrapper
{
	overflow: hidden;
	padding: 10em 0 5em 0;
	background: url("images/bg01.jpg") no-repeat center top;
	background-size: 100% auto;
}

/************************************************************************************/
/*	Own *****************************************************************************/
/************************************************************************************/

.header
{
	position: relative;
	flex-direction: row;
	height: 96px;
}

.header .logo
{
	flex-grow: 1;
	font-size: 2em;
	align-self: center;
}

.header .menu
{
	align-self: center;
}

.header .auth_header .active
{
	text-decoration: underline;
	cursor: pointer;
}

.header .auth_header .auth_header_item
{
	font-size: 1.2em;
	display: inline-block;
	margin-left: 48px;
}

.box
{
	flex: 1;
	background: #FFF;
	padding: 40px 40px;
	align-self: center;
	align-content: center;
	margin: 0 24px;
}

.modal
{
	position: absolute;
	background-color: #FFF;
	box-shadow: #6c6c6c 3px 3px 15px 2px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

.modal_bg
{
	background-color: rgba(0, 0, 0, .5);
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.modal.base_dialog .buttons_node .button
{
	margin-left: 24px;
}

.modal.base_dialog .content_node
{
	padding: 12px 24px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.modal.base_dialog .dialog_header
{
	padding: 12px 24px 0;
	height: 48px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #D1CFCE;
}

.modal.base_dialog .buttons_node
{
	padding: 12px 24px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.modal.base_dialog .input
{
	margin-bottom: 24px;
}

.modal.auth_dialog .err_node,
.modal.register_dialog .err_node,
.modal.add_expense_dialog .err_node
{
	color: #f00;
	padding: 24px 0;
}

.input
{
	display: inline-block;
	padding: 1em 1em 1em 1em;
	font-size: 1em;
	border: 1px solid #0173B2;
	outline: none;
}

.expenses_ctrl
{
	margin: 5em 0;
	background: #FFF;
	position: relative;
}

.expenses_ctrl .header-wrapper
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.expenses_ctrl .header-wrapper .expenses_header
{
	flex-grow: 1;
	white-space: nowrap;
}

.expenses_ctrl .header-wrapper .button
{
	margin-left: 24px;
	margin-bottom: 6px;
}

.expenses_list
{
	margin-top: 24px;
	display: flex;
	flex-direction: column;
}

.expenses_list .no_data
{
	height: 96px;
	font-size: 2.75em;
	align-self: center;
}

.expenses_list .date_group
{
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 84px;
	margin: 3px 0;
}

.expenses_list .date_group .week_total
{
	display: none;
}

.expenses_list .date_group .date .day
{
	margin: 0;
	padding: 0;
	display: block;
	font-size: 1.8em;
}

.expenses_list .date_group .date
{
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 50px;
	padding: 10px 0 0 0;
	background: #0173B2;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	font-size: 0.8em;
	font-weight: 400;
	color: #FFF;
}

.expenses_list .date_group .expense_item
{
	display: flex;
	position: relative;
	width: 100%;
	min-height: 60px;
	border-bottom: 1px solid #D1CFCE;
}

.expenses_list .date_group .expense_item .main
{
	flex-grow: 1;
}

.expenses_list .date_group .expense_item .description
{
	font-size: 1.4em;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}

.expenses_list .date_group .expense_item .value
{
	align-self: center;
	margin-right: 24px;
	font-size: 2.25em;
}

.expense_item .delete,
.expense_item .edit
{
	align-self: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	opacity: .5;
	background-position: 50% 50%;
	background-repeat: no-repeat
}

.expense_item .delete
{
	background-image: url(images/delete_black_24x24.png);
}

.expense_item .edit
{
	background-image: url(images/edit_black_24x24.png);
}

.expense_item .delete:hover,
.expense_item .edit:hover,
.user_record .delete:hover
{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 1;
}

.admin_node
{
	flex-direction: column;
}

.admin_ctrl
{
	margin: 5em 0;
	background: #FFF;
	position: relative;
}

.admin_ctrl .header-wrapper
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.admin_ctrl .header-wrapper .admin_header
{
	flex-grow: 1;
	white-space: nowrap;
}

.admin_ctrl .user_list
{
	display: flex;
	flex-direction: column;
}

.admin_ctrl .user_list .user_record
{
	display: flex;
	position: relative;
	flex-direction: row;
	margin-bottom: 8px;
	min-height: 60px;
	border-bottom: 1px solid #D1CFCE;
	align-items: center;
}

.admin_ctrl .user_list .user_record.list_header
{
	font-weight: bold;
	margin-bottom: 0;
	min-height: 30px;
}

.admin_ctrl .user_list .user_record.list_header .delete,
.admin_ctrl .user_list .user_record.list_header .edit
{
	display: none;
}

.admin_ctrl .user_list .user_record .field
{
	flex: 1;
}

@media print
{
	@page
	{
		margin: 24px auto;
	}

	.container:not(.expenses),
	.button,
	.delete,
	.edit
	{
		display: none;
	}

	.expenses_ctrl
	{
		margin: 0;
		width: 100%;
	}

	.container,
	.expenses_ctrl,
	.expenses_ctrl .expenses_list,
	.expenses_ctrl .expenses_list .date_group
	{
		display: block;
	}

	.expenses_list .date_group .date
	{
		background-color: transparent;
		border: 1px solid #D1CFCE;
		color: #000;
		text-shadow: none;
	}

	.expenses_list .date_group .week_total
	{
		display: block;
		width: 100%;
		text-align: right;
		page-break-after: auto;
		font-size: 1.2em;
		margin: 6px 0 12px;
	}

	.expenses_list .expense_item
	{
		page-break-inside: avoid;
	}

	.expenses_ctrl .expenses_list .date_group
	{
		page-break-after: avoid;
	}
}